[submodule "kyber"]
	path = kyber
	url = https://github.com/0x3327/kyber.git
[submodule "src/newhope"]
	path = src/newhope
	url = https://github.com/0x3327/newhope.git
[submodule "src/PQCrypto-LWEKE"]
	path = src/PQCrypto-LWEKE
	url = https://github.com/microsoft/PQCrypto-LWEKE
