[submodule "src/libs/newhope"]
	path = src/libs/newhope
	url = https://github.com/0x3327/newhope.git
[submodule "src/libs/PQCrypto-LWEKE"]
	path = src/libs/PQCrypto-LWEKE
	url = https://github.com/microsoft/PQCrypto-LWEKE
